.ranking {
    height: 2000px;
}

.ranking-card {
    width:700px;
    
    box-shadow:0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%)
    
}

.ranking-card-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.profile-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    width:100%;
}

.clickable-header {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.megastriker {
    color: orange !important;
}

.legend {
    color: purple !important;
}

.superstar {
    color: #4da6ff !important;
}

.professional {
    color:#cccc00 !important;
}

.rookie {
    color: green !important;
}
